<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="admin_detail_css.css">
    <title>officer</title>

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="h-100">
                <div class="sidebar-logo">
                    <img src="Logokku.png" alt="Khon Kaen University Logo" class="logo">
                    <p href="#">มหาวิทยาลัยขอนแก่น</p>
                    <p href="#">KHON KAEN UNIVERSITY</p>
                </div>
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">
                    <li class="sidebar-header1">
                        <i class="fa-solid fa-list pe-2"></i>
                        <p>รุ่งทิวา แต้อุดมโชค</p>
                    </li>
                    <li class="sidebar-item1">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-house-chimney pe-2"></i>
                            หน้าแรก
                        </a>
                    </li>
                    <li class="sidebar-header">
                        หัวข้อ
                    </li>
                    <li class="sidebar-item">
                        <a href="#.html" class="sidebar-link">
                            <i class="fa-solid fa-file-lines pe-2"></i>
                            รายการที่กำลังดำเนินการ
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#.html" class="sidebar-link">
                            <i class="fa-solid fa-file-lines pe-2"></i>
                            รายการที่รอส่วนอื่น
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#.html" class="sidebar-link">
                            <i class="fa-solid fa-file-lines pe-2"></i>
                            รายการที่ดำเนินการเสร็จสิ้น
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#.html" class="sidebar-link">
                            <i class="fa-solid fa-file-lines pe-2"></i>
                            รายการที่ปฏิเสธ
                        </a>
                    </li>
                    <li class="sidebar-header">
                        แก้ไขฟอร์ม
                    </li>
                    <li class="sidebar-item">
                        <a href="#.html" class="sidebar-link">
                            <i class="fa-solid fa-gear pe-2"></i>
                            รายการสถานภาพ
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#.html" class="sidebar-link">
                            <i class="fa-solid fa-gear pe-2"></i>
                            รายการประเภท
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#.html" class="sidebar-link">
                            <i class="fa-solid fa-gear pe-2"></i>
                            รายการหมวดหมู่
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <!-- Main Component -->
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <!-- Button for sidebar toggle -->
                <button class="btn" type="button" data-bs-theme="dark" onclick="moveLogo()">
                    <i class="fa-solid fa-bars"></i>
                    สิ่งที่ต้องดำเนินการ
                </button>
            </nav>
            <!-- ตัวเพิ่มคอมเม้นสำนัก1 ถ้าเพิ่มต้องแก้ javascript -->
            <div class="sidebar-right">
                <div class="sidebar-nav2" id="sidebar-nav1">
                    <h2>สถานะการดำเนินงาน</h2>
                    <h3>สำหนักงานเทคโนโลยีดิจิทัล
                        <i class="fa-regular fa-clock" style="color: rgb(216, 95, 3);"></i>
                    </h3>
                </div>
                <input type="radio" name="staff" id="staff1" value="staff1">
                <label for="staff1">ฝ่ายบุคคล</label><br>

                <input type="radio" name="staff" id="staff2" value="staff2">
                <label for="staff2">ฝ่ายบริการ</label><br>

                <input type="radio" name="staff" id="staff3" value="staff3">
                <label for="staff3">ฝ่ายซ่อมแซม</label><br>

                <input type="radio" name="staff" id="staff4" value="staff4">
                <label for="staff4">อื่นๆ</label><br>

                <!-- เพิ่มกล่องข้อความ
                <div class="message-box" id="messageBox">
                    <textarea id="user-message" rows="4" cols="50" placeholder="กรุณาใส่ข้อความที่นี่..."></textarea>
                    <button id="submitButton" style="margin-top: 10px;">ยืนยัน</button>
                </div> -->
                <button id="submitButton" style="margin-top: 10px;">ยืนยัน</button>
            </div>


            <form>
                <div class="card mt-4">
                    <div class="card-header text-center">
                        <h5 class="mb-0">ข้อมูลส่วนตัวผู้แจ้งปัญหา</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <!-- Type -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="custom-font-size">
                                        <p>
                                            <strong>ชื่อ - นามสกุล : นางสาวโชติกา เอี่ยมสอาด</strong>
                                            <span th:text="${complaint.complaintType}" />
                                        </p>
                                        <p>
                                            <strong>e-mail : chotika@gmail.com</strong> <span
                                                th:text="${complaint.service}" />
                                        </p>
                                        <p>
                                            <strong>สถานะปัจจุบัน : นักศึกษา</strong> <span
                                                th:text="${complaint.status}" />
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form>
                <div class="card mt-4">
                    <div class="card-header text-center">
                        <h5 class="mb-0">มีความประสงค์แจ้งปัญหาดังนี้</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <!-- Type -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="custom-font-size">
                                        <p>
                                            <strong>หัวข้อคำร้อง : แจ้งปัญหา</strong> <span
                                                th:text="${complaint.complaintType}" />
                                        </p>
                                        <p>
                                            <strong>การบริการ : WIFI</strong> <span th:text="${complaint.service}" />
                                        </p>
                                        <p>
                                            <strong>รายละเอียด/สถานที่ : มีปัญหา WIFI ใช้ไม่ได้ที่หอใน 19</strong> <span
                                                th:text="${complaint.detail}" />
                                        </p>
                                        <p>
                                            <strong>ไฟล์ : ตัวอย่างไฟล์.pdf</strong> <span
                                                th:text="${complaint.file}" />
                                        </p>
                                        <p>
                                            <strong>สถานะ : กำลังดำเนินการ</strong> <span
                                                th:text="${complaint.status}" />
                                        </p>
                                        <p>
                                            <strong>การยินยอม : ยินยอมให้เผยแพร่คำร้องเรียน</strong> <span
                                                th:text="${complaint.comment}" />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <!-- Script สำหรับการทำงานของ Bootstrap และ Script ที่คุณเขียนเพิ่มเติม -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <!-- สคริปต์ที่คุณเขียนเพิ่มเติม -->
    <script>
        const toggler = document.querySelector(".btn");
        toggler.addEventListener("click", function () {
            document.querySelector("#sidebar").classList.toggle("collapsed");
        });
    </script>

</body>


</html>