@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.navbar {
    background-color: rgb(74, 107, 226);
    border-bottom: 1px solid #000000; /* เพิ่มเส้นกรอบด้านล่าง */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 3); /* เพิ่มเงา */
}
.navbar button {
    color: white;
}
.navbar button:hover {
    color: white;
}
h3 {
    font-size: 1.2375rem;
    color: #FFF;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

/* ตำแหน่ง ber */
.wrapper { 
    align-items: stretch;
    display: flex;
    width: 100%;
    background-color: rgb(221, 221, 221);
    
}

/* แถบเมนู */
#sidebar { 
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    z-index: 1111;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid #000000; /* เพิ่มเส้นกรอบด้านซ้าย */
}

/* Sidebar collapse ตัวไลด์ */
#sidebar.collapsed {
    margin-left: -264px;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 1rem;
    padding-left: -20px;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* ตัว main */
.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
    display: flex;
    flex-direction: column-reverse; /* เรียง p1 และ p2 ลงมาในทิศตรงกันข้าม */
    align-items: center; /* จัดให้แนวตั้งขององค์ประกอบอยู่ตรงกลาง */
    position: relative; /* ต้องเพิ่มบรรทัดนี้เพื่อกำหนดตำแหน่งของโลโก้ */
}
.logo {
    width: 30px; /* ปรับขนาดความกว้างของภาพ */
    height: auto; /* ปรับขนาดความสูงของภาพให้สัดส่วนตามกว้าง */
    position: absolute; /* ให้โลโก้อยู่ในตำแหน่งอิสระภายใน .sidebar-logo */
    top: 50%; /* จัดให้โลโก้อยู่ตรงกลางตามแนวดิ่ง */
    left: 20px; /* ขยับโลโก้ไปทางด้านซ้ายเล็กน้อย */
    transform: translateY(-50%); /* ขยับโลโก้ตามแนวดิ่งเพื่อจัดให้อยู่ตรงกลาง */
}


.sidebar-logo p {
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    margin: 5px 5px; /* ระยะห่างระหว่าง p1 และ p2 */
}


.sidebar-nav {
    padding: 0;
}

.sidebar-header1 {
    color: #000000;
    font-size: .8rem;
    display: flex;
    align-items: center; /* จัดให้องค์ประกอบแนวตั้งตรงกลาง */
    padding: 2rem 3.5rem .7rem;
}

.sidebar-header1 p {
    display: block; /* ทำให้ <p> เป็นบล็อก */
    margin-bottom: 5px; /* ระยะห่างด้านล่างของ <p> */
}


.sidebar-header {
    color: #000000;
    font-size: .75rem;
    padding: .1rem 1.5rem .10rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #000000;
    position: relative;
    display: block;
    font-size: 1rem;
}

a.sidebar-link:hover {
    color: #6d6d6d;
}


form {
    width: auto;
    height: auto;
    
}

/* การจัดขนาดของกรอบ card ตัวคุมใหญ่ */
.card {
    max-width: 1200px; /* กำหนดขนาดของ card */
    margin: auto; /* จัดให้ card อยู่ตรงกลางของหน้าจอ */
    border: 1px solid #414141; /* เส้นขอบของ card */
    border-radius: 10px; /* รอบขอบของ card */
}

.card-header{
    background-color: rgb(74, 107, 226);
}

/* การจัดขนาดของข้อความใน card */
.card-header h5 {
    color: #ffffff;
    font-size: 17px; /* ขนาดของข้อความใน card-header */
}


.box {
    margin-top: 70px;
    margin-left: 50px;
}

.boxheader {
    border-bottom: 2px solid #8b1717;
    padding-bottom: 4px;
    margin-bottom: 10px;
    font-size: 30px;
}

.checkbox-container {
    border: 1px solid #ccc;
    padding: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    width: calc(100% - 42px);
    text-align: center; /* จัดตำแหน่งข้อความในกล่องตามแนวนอน */
    display: flex;
    justify-content: left;
    align-items: center;
}


.checkbox-container p {
    margin: 0; /* กำหนดระยะห่างขอบลิงก์ */
    color: #333; /* สีข้อความ */
    font-weight: bold; /* ตัวหนา */
}

.checkbox-container:hover p {
    color: #555; /* สีข้อความเมื่อเมาส์ไฮไลท์ */
}


/* Responsive */

@media (min-width:768px) {
    .content {
        width: auto;
    }
}



